{{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="input-field col s12 l6">
                                <input id="author" type="text" class="validate" name="name">
                                <label for="author">Votre Nom</label>
                            </div>
                            <div class="input-field col s12 l6">
                                <input id="email" type="email" class="validate">
                                <label for="email">Votre Email</label>
                            </div>
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}